body {
  background-color: beige;
}
.zeroPadding {
  padding: 0px;
}
#socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

#socials i {
  font-size: 230%;
  padding: 5%;
}

#socials i:hover {
  cursor: pointer;
  opacity: 0.5;
}

.cardImage {
  height: 200px;
}

.somepadding {
  padding-top: 2%;
  padding-bottom: 2%;
}
