body {
  color: #323232;
  background-color: #ddd0c8;
  font-family: sans-serif;
}
.zero-padding {
  padding: 0;
}

.row {
  border: #323232 solid;
}
#about-para {
  font-size: 110%;
  padding: 1%;
}
.accordion-body {
  background-color: #ddd0c8;
}
.accordion {
  --bs-accordion-bg: #ddd0c8;
  --bs-accordion-active-bg: #ddd0c8;
}

.change-color {
  background-color: #ddd0c8;
}
#card-stack {
  display: flex;
  justify-content: space-between;
}
#footer {
  border: none;
}
