body {
  color: #323232;
  background-color: #ddd0c8;
}
.zero-padding {
  padding: 0;
}

#about-me,
#work-exp,
#nav-sec,
#personal-projects,
#main-body,
#footer {
  border: #323232 solid;
}

#about-para {
  font-size: 110%;
  padding: 1%;
}
