body {
  font-size: medium;
  background-color: antiquewhite;
  font-family: Helvetica, sans-serif;
  color: #2b193d;
}

.wrap {
  text-align: center;
}

nav ul {
  list-style-type: none;
  border: solid 1px black;
  background-color: rgb(221, 200, 173);

  display: flex;
  padding: 30px;
}
nav ul li {
  border: solid 1px black;
  flex-grow: 1;
}
nav ul li a {
  /* border: solid 1px black; */
  text-align: center;
}

main {
  border: solid 1px black;
  text-align: center;
}
header {
  text-align: center;
}
